/*            FOOTER          */
.footer__social {
  background-color: #c9ff;
  display: grid;
  grid-template-areas: "list map" "modal modal";
  align-content: space-between;
  color: #000; }
  .footer__social .footer__list {
    grid-area: list;
    justify-self: center; }
    .footer__social .footer__list .footer__item {
      list-style: none;
      color: white; }
      .footer__social .footer__list .footer__item a {
        text-decoration: none;
        color: gold; }
  .footer__social .footer__modal {
    grid-area: modal;
    justify-self: center;
    align-self: center;
    text-align: center; }
    .footer__social .footer__modal .footer__img {
      height: 3vh;
      justify-self: center; }
  .footer__social .footer__local {
    grid-area: map;
    justify-self: center; }

.banner__content {
  background-image: url(../recursos/banner/familia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 65vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 9fr 1fr 1fr  1fr;
  grid-template-areas: "." "titulo" "subtitulo" "boton"; }
  .banner__content .banner__title {
    grid-area: titulo;
    font-size: 6vw;
    color: gold;
    text-shadow: 5px 5px 4px black;
    justify-self: center; }
  .banner__content .banner__parrafo {
    grid-area: subtitulo;
    font-size: 4vw;
    color: gold;
    justify-self: center;
    margin-left: 2vw;
    text-shadow: 5px 5px 4px black; }
  .banner__content .banner__button {
    grid-area: boton;
    background-color: black;
    color: gold;
    border: solid 2px gold;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    font-size: 2vw;
    padding: 1vw;
    margin-bottom: 4vh; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Teko', sans-serif; }

/*          BODY            */
.body__content {
  display: grid;
  grid-template-areas: "nav" "banner" "article__first" "article__second" "footer"; }
  .body__content .nav {
    grid-area: nav; }
  .body__content .banner {
    grid-area: banner; }
  .body__content .article__first {
    grid-area: article__first; }
  .body__content .article__second {
    grid-area: article__second; }
  .body__content .footer__grid {
    grid-area: footer; }

/*              SECTION CARDS           */
.section__card {
  transition: all 500ms ease-out;
  opacity: 50%; }

.section__card:hover {
  transform: scale(1.05);
  opacity: 100%; }

/*          MEDIA QUERIES CELULAR          */
@media (min-width: 320px) and (max-width: 575px) {
  .footer__social {
    grid-template-areas: "list" "map" "modal"; } }

/*          MEDIA QUERIES TABLET            */
@media (min-width: 576px) and (max-width: 992px) {
  .footer__social {
    grid-template-areas: "list" "map" "modal"; } }
