.banner__content--index{
    background-image: url(../recursos/banner/familia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 50vw;

    display: grid;
    justify-content: center;
    grid-template-rows: 9fr 1fr 1fr  1fr ;
    grid-template-areas: "."
                        "titulo"
                        "subtitulo"
                        "boton";
    @include banner-text;
}

.banner__content--nosotros{
    background-image: url(../recursos/banner/annie-spratt-hCb3lIB8L8E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 50vw;

    display: grid;
    justify-content: center;
    grid-template-rows: 9fr 1fr 1fr  1fr ;
    grid-template-areas: "."
                        "titulo"
                        "subtitulo"
                        "boton";
    @include banner-text;
}

.banner__content--domiciliaria{
    background-image: url(../recursos/banner/valentina-locatelli-P8bsrm8KbM0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 50vw;

    display: grid;
    justify-content: center;
    grid-template-rows: 9fr 1fr 1fr  1fr ;
    grid-template-areas: "."
                        "titulo"
                        "subtitulo"
                        "boton";
    @include banner-text;
}

.banner__content--empresarial{
    background-image: url(../recursos/banner/rohan-g-imwaY7KA9qs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 50vw;

    display: grid;
    justify-content: center;
    grid-template-rows: 9fr 1fr 1fr  1fr ;
    grid-template-areas: "."
                        "titulo"
                        "subtitulo"
                        "boton";
    @include banner-text;
}

.banner__content--contacto{
    background-image: url(../recursos/banner/pixasquare-4ojhpgKpS68-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    height: 50vw;

    display: grid;
    justify-content: center;
    grid-template-rows: 9fr 1fr 1fr  1fr ;
    grid-template-areas: "."
                        "titulo"
                        "subtitulo"
                        "boton";
    @include banner-text;
}