.banner__content{
    background-image: url(../recursos/banner/familia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 50vw;

    display: grid;
    justify-content: center;
    grid-template-rows: 9fr 1fr 1fr  1fr ;
    grid-template-areas: "."
                        "titulo"
                        "subtitulo"
                        "boton";
    .banner{
        &__title{
            grid-area: titulo;
            @include text-banner( 6vw, gold, center);
            text-shadow:5px 5px 4px black;
        }
        &__parrafo{
            grid-area: subtitulo;
            @include text-banner(4vw, gold, center);
            margin-left: 2vw;
            text-shadow: 5px 5px 4px black;
            
        }
        &__button{
            grid-area: boton;
            background-color: black;
            @include text-banner( 2vw, gold, center);
            border: solid 2px gold;
            

            width: fit-content;
            height: fit-content;

            padding: 1vw;
            margin-bottom: 4vh;
        }
    }
}