/*              SECTION CARDS           */

.section__title{
    text-shadow:5px 5px 10px black;
    border-bottom-left-radius: 12px;
    font-size: 3vw;
}
.break-line{
    border: 1px solid $color-sec;
    width: 30%;
    box-shadow:5px 5px 10px black;
}
.section__content{
    .section{
        &__card{
            transition: all 500ms ease-out;
            box-shadow: 5px 5px 30px black;
            .section__img{
                margin: 1vw;
                width: 10vw;
            }
            .card{
                &-title{
                    font-size: 3vw;
                }
                &-text{
                    font-size: 2vw;
                }
            }
        }
        &__card:hover{
            transform: scale(1.05);
            opacity: 100%;
        }
    }
}