.button__content img{
    height: 5vw;
    padding-top: 1vh;
}
.nav-pills{
    --bs-nav-pills-link-active-bg: white;
}
.section__article{
    background-color: $color-ppal;
    color: black;

    font-size: 2rem;
    padding: 1vw;
    .article__content{
        text-align: center;
        .article{
            &__header{
                .article__img{
                    width: 6vw;
                    margin: 1vw;
                }
            }
            &__card{
                background-color: white;
                margin: 2vw;
                padding: 1vw;
                
                text-align: start;
                .article{
                    &__subtitle{
                        font-size: 3vw;
                        border-bottom: 0.2vw solid $color-sec;
                    }
                    &__parraf{
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}