*{
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
}



/*          BODY            */
.body{
    &__content{
        display: grid;
        grid-template-areas: "nav"
                            "banner"
                            "article__first"
                            "article__second"
                            "footer";
        .nav{
            grid-area: nav;
            }
        .banner{
        grid-area: banner;
            }
        .article__first{
            grid-area: article__first;
            }
        .article__second{
            grid-area: article__second;
            }
        .footer__grid{
            grid-area: footer;
            }
    }
}

/*              SECTION CARDS           */
.section__card{
    transition: all 500ms ease-out;
    opacity: 50%;
}
.section__card:hover{
    transform: scale(1.05);
    opacity: 100%;
}

/*            FOOTER          */
.footer{
    &__social{
        background-color: rgb(33,37,41);
        display: grid;
        grid-template-areas: "list map"
                            "modal modal";
        align-content: space-between;
        color: gold;
        .footer__list{
            grid-area: list;
            justify-self: center;
            .footer__item{
                list-style: none;
                color: white;
                & a{
                    text-decoration: none;
                    color: gold;
                    }
                }
            }
        .footer__modal{
            grid-area: modal;
            justify-self: center;
            align-self: center;
            text-align: center;
            .footer__img{
                height: 3vh;
                justify-self: center;
                }
            }
        .footer__local{
            grid-area: map;
            justify-self: center;
            }
        }
    }

/*          MEDIA QUERIES CELULAR          */
@media (min-width: 320px) and (max-width: 575px) {
        .footer__social{
            grid-template-areas: "list"
                            "map"
                            "modal";
        }
}

/*          MEDIA QUERIES TABLET            */
@media (min-width: 576px) and (max-width: 992px) {
        .footer__social{
            grid-template-areas: "list"
                                "map"
                                "modal";
        }
}