@import "variables";
@import "footer";
@import "banner";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
}



/*          BODY            */
.body{
    &__content{
        display: grid;
        grid-template-areas: "nav"
                            "banner"
                            "article__first"
                            "article__second"
                            "footer";
        .nav{
            grid-area: nav;
            }
        .banner{
        grid-area: banner;
            }
        .article__first{
            grid-area: article__first;
            }
        .article__second{
            grid-area: article__second;
            }
        .footer__grid{
            grid-area: footer;
            }
    }
}

/*              SECTION CARDS           */
.section__card{
    transition: all 500ms ease-out;
    opacity: 50%;
}
.section__card:hover{
    transform: scale(1.05);
    opacity: 100%;
}

/*          MEDIA QUERIES CELULAR          */
@media (min-width: 320px) and (max-width: 575px) {
        .footer__social{
            grid-template-areas: "list"
                            "map"
                            "modal";
        }
}

/*          MEDIA QUERIES TABLET            */
@media (min-width: 576px) and (max-width: 992px) {
        .footer__social{
            grid-template-areas: "list"
                                "map"
                                "modal";
        }
}