@import "variables";
@import "operators";
@import "banner";
@import "cards";
@import "aboutUs";
@import "tabsandpills";
@import "footer";


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
}
